.row.bold.text-centered.title Фактура (оригинал)
.row.text-centered № #{invoiceNumber} / #{invoiceDate} г.

table.text-left.parties-table
	tr
		td
			.row
				span Доставчик:&nbsp;
				span.bold #{companyNameBulgarian}
			.row
				span ЕИК:&nbsp;
				span.bold #{companyNumber}
			.row
				span № по ДДС:&nbsp;
				span.bold #{companyVATNumber}
			.row.bold #{companyAddressLine0Bulgarian}
			.row.bold #{companyAddressLine1Bulgarian}
		td
			.row
				span Получател:&nbsp;
				span.bold #{customerNameBulgarian}
			.row
				span ЕИК:&nbsp;
				span.bold #{customerNumber}
			.row
				span № по ДДС:&nbsp;
				span.bold #{customerVATNumber}
			.row.bold #{customerAddressLine0Bulgarian}
			.row.bold #{customerAddressLine1Bulgarian}

table.services-table
	tr
		th Вид услуга
		th Мярка
		th Количество
		th Единична цена
		th Стойност
	tr
		td.text-centered Разработка на софтуер и консултации, месец #{monthAndYearBulgarian}
		td.text-centered Брой
		td.text-centered 1
		td.text-end #{softwareDevelopmentPriceExclVATInEuroBulgarian}
		td.text-end #{softwareDevelopmentPriceExclVATInEuroBulgarian}
	tr
		td
		td
		td
		td
		td
	tr
		td.no-border
		td.no-border
		td.no-border
		td.text-end Данъчна основа
		td.text-end #{softwareDevelopmentPriceExclVATInLevBulgarian}
	tr
		td.no-border
		td.no-border
		td.no-border
		td.text-end Данъчна ставка %
		td.text-end #{softwareDevelopmentVATPercent}
	tr
		td.no-border
		td.no-border
		td.no-border
		td.text-end Стойност на ДДС
		td.text-end #{softwareDevelopmentVATAmountInLevBulgarian}
	tr
		td.no-border
		td.no-border
		td.no-border
		td.text-end Сума за плащане
		td.text-end #{softwareDevelopmentTotalAmountInLevBulgarian}
	tr
		td.text-end(colspan='5') Неначислен ДДС съгласно чл. 21 от ЗДДС
	tr
		td.text-centered(colspan='2')
			div Дата на доставка и плащане:
			div #{invoiceDate} г.
		td.text-centered(colspan='3')
			div Начин на плащане: по банков път
			div IBAN: #{companyIBAN}


.row.bold.text-centered.title.english-title INVOICE
.row.text-centered № #{invoiceNumber} / #{invoiceDate}

table.text-left.parties-table
	tr
		td
			.row
				span Supplier:&nbsp;
				span.bold #{companyNameEnglish}
			.row
				span CRN:&nbsp;
				span.bold #{companyNumber}
			.row
				span VAT №:&nbsp;
				span.bold #{companyVATNumber}
			.row.bold #{companyAddressLine0English}
			.row.bold #{companyAddressLine1English}
		td
			.row
				span Customer:&nbsp;
				span.bold #{customerNameEnglish}
			.row
				span CRN:&nbsp;
				span.bold #{customerNumber}
			.row
				span VAT №:&nbsp;
				span.bold #{customerVATNumber}
			.row.bold #{customerAddressLine0English}
			.row.bold #{customerAddressLine1English}

table.services-table
	tr
		th Service
		th Quantifier
		th Quantity
		th Item price
		th Total price
	tr
		td.text-centered Software development and consulting, #{monthAndYearEnglish}
		td.text-centered Unit
		td.text-centered 1
		td.text-end #{softwareDevelopmentPriceExclVATInEuroEnglish}
		td.text-end #{softwareDevelopmentPriceExclVATInEuroEnglish}
	tr
		td
		td
		td
		td
		td
	tr
		td.no-border
		td.no-border
		td.no-border
		td.text-end Tax base
		td.text-end #{softwareDevelopmentPriceExclVATInEuroEnglish}
	tr
		td.no-border
		td.no-border
		td.no-border
		td.text-end VAT %
		td.text-end #{softwareDevelopmentVATPercent}
	tr
		td.no-border
		td.no-border
		td.no-border
		td.text-end VAT
		td.text-end #{softwareDevelopmentVATAmountInEuroEnglish}
	tr
		td.no-border
		td.no-border
		td.no-border
		td.text-end Final due payment amount
		td.text-end #{softwareDevelopmentTotalAmountInEuroEnglish}
	tr
		td.text-end(colspan='5') Absolved from VAT according to article 21 of the VAT Act of the Republic of Bulgaria
	tr
		td.text-centered(colspan='2')
			div Date of delivery and payment:
			div #{invoiceDate}
		td.text-centered(colspan='3')
			div Payment method: bank transfer
			div IBAN: #{companyIBAN}
