.row.bold.text-centered.title.services-breakdown-title BREAKDOWN OF SERVICES
table.services-breakdown-table.first
	tr
		th Date
		th Project Name
		th Description
each serviceGroup in services
	table.services-breakdown-table
		each service in serviceGroup
			tr
				td.text-centered #{service.date}
				td.text-centered #{service.projectName}
				td.text-centered #{service.description}
