body {
	font-size: 14px;
	margin: 0px;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.row {
	display: block;
}

.column {
	display: inline-block;
}

.text-left {
	text-align: left;
}

.text-centered {
	text-align: center;
}

.text-end {
	text-align: end;
}

.invoice-container {
	width: 800px;

	.title {
		margin-top: 30px;
		margin-bottom: 2.5px;
		&.services-breakdown-title {
			margin-top: 170px;
		}
	}

	.parties-table, .services-table, .services-breakdown-table {
		width: 100%;
		border-collapse: collapse;
		border-bottom: 1px solid black;
		tr {
			border: 1px solid black;
			border-bottom: none;
			height: 30px;
			th, td {
				border-right: 1px solid black;
				padding: 5px;
			}
		}
	}

	.parties-table {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
		tr {
			td {
				width: 50%;
				&:nth-child(2) {
					border-right: none;
				}
			}
		}
	}

	.services-table {
		tr {
			th, td {
				&:nth-child(1) {
					width: 40%;
				}
				&:nth-child(2) {
					width: 15%;
				}
				&:nth-child(3) {
					width: 15%;
				}
				&:nth-child(4) {
					width: 15%;
				}
				&:nth-child(5) {
					width: 15%;
					border-right: none;
				}
			}
		}
	}

	.services-breakdown-table {
		margin-top: 60px;
		&.first {
			border-bottom: none;
			margin-top: 10px;
			margin-bottom: -60px;
		}
		tr {
			th, td {
				&:nth-child(1) {
					width: 15%;
				}
				&:nth-child(2) {
					width: 15%;
				}
				&:nth-child(3) {
					width: 70%;
					border-right: none;
				}
			}
		}
	}
}
